@-webkit-keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}
@keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-200px) scaleY(2.5) scaleX(0.2);
        transform: translateY(-200px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}
@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes animate-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 60px 0;
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}
@-webkit-keyframes change {
    0%,
    100%,
    12.66% {
        transform: translate3d(0, 0, 0);
    }
    16.66%,
    29.32% {
        transform: translate3d(0, -25%, 0);
    }
    33.32%,
    45.98% {
        transform: translate3d(0, -50%, 0);
    }
    49.98%,
    62.64% {
        transform: translate3d(0, -75%, 0);
    }
    66.64%,
    79.3% {
        transform: translate3d(0, -50%, 0);
    }
    83.3%,
    95.96% {
        transform: translate3d(0, -25%, 0);
    }
}
@keyframes change {
    0%,
    100%,
    12.66% {
        transform: translate3d(0, 0, 0);
    }
    16.66%,
    29.32% {
        transform: translate3d(0, -25%, 0);
    }
    33.32%,
    45.98% {
        transform: translate3d(0, -50%, 0);
    }
    49.98%,
    62.64% {
        transform: translate3d(0, -75%, 0);
    }
    66.64%,
    79.3% {
        transform: translate3d(0, -50%, 0);
    }
    83.3%,
    95.96% {
        transform: translate3d(0, -25%, 0);
    }
}
@-moz-keyframes change {
    0%,
    100%,
    12.66% {
        transform: translate3d(0, 0, 0);
    }
    16.66%,
    29.32% {
        transform: translate3d(0, -25%, 0);
    }
    33.32%,
    45.98% {
        transform: translate3d(0, -50%, 0);
    }
    49.98%,
    62.64% {
        transform: translate3d(0, -75%, 0);
    }
    66.64%,
    79.3% {
        transform: translate3d(0, -50%, 0);
    }
    83.3%,
    95.96% {
        transform: translate3d(0, -25%, 0);
    }
}
@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Source Sans Pro, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-stroke: 0.008em rgba(51, 51, 51, 0.5);
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
    background-color: #093028;
    outline: 1px solid #708090;
}
body::-webkit-scrollbar {
    width: 0.7em;
    background-color: rgba(255, 255, 255, 0.1);
}
ul li a {
    text-decoration: none;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
#app {
    background: url(/img/bg.svg);
}
:root {
    --primary-color: #235004;
    --theme-black: #333;
    --gradient-color1: #093028;
    --gradient-color2: #237a57;
}
.btn-sm {
    display: inline-block;
    padding: 6px 12px;
    justify-self: center;
    border-radius: 5px;
    color: #fff;
}
.btn-lg {
    display: inline-block;
    justify-self: center;
    color: #fff;
}
.btn-exp {
    display: inline-block;
    padding: 8px 20px;
    color: #fff;
}
.btn-primary-header {
    display: grid;
    align-items: center;
    justify-content: center;
    width: max(10vw, 50px);
    height: 6vh;
    letter-spacing: 3px;
    background: 0 0;
    color: #fff;
    transition: 0.25s;
    border: 0.2vw solid;
    border-color: #237a57;
    box-shadow: 0.3em 0.3em 0 0 #237a57, inset 0.3em 0.3em 0 0 #237a57;
    text-shadow: 1px 1px 2px #237a57, 0 0 1em #fff, 0 0 0.1em #fff;
    padding: 5px;
}
.btn-primary-header:hover {
    color: #fff;
    box-shadow: 0 0 0 0 #237a57, inset 6em 3.5em 0 0 #237a57;
    text-shadow: 1px 1px 2px #237a57, 0 0 1em #fff, 0 0 0.1em #fff;
}
.btn-primary {
    background: 0 0;
    color: #237a57;
    border: 2px solid;
    border-color: #237a57;
    padding: 5px;
}
.btn-primary:hover {
    background-color: #237a57;
    color: #fff;
}
.g-text {
    -webkit-text-stroke: initial;
    background: -webkit-linear-gradient(
        var(--gradient-color1),
        var(--gradient-color2)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.g-item {
    background: linear-gradient(
        30deg,
        var(--gradient-color1),
        var(--gradient-color2)
    );
}
.l-item {
    text-shadow: 5px 0.5px 1.5px #237a57, 0 0 1em #fff, 0 0 1em #fff;
}
.modal-open {
    overflow: hidden;
}
.device-landscape {
    display: none;
}
.section-underline {
    height: 4px;
    width: 20%;
    margin: auto;
}
.cd-timeline-navigation {
    display: grid;
    grid-auto-flow: column;
}
.page-section {
    background-color: #fff;
    display: grid;
    padding: 25px 25px;
}
.main-section {
    display: grid;
    padding: 25px 5vw;
}
.main-section-title {
    grid-column: 2/2;
    font-size: max(2.5vw, 30px);
    padding: 15px;
}
.not-allowed {
    cursor: not-allowed !important;
}
.pointer {
    cursor: pointer;
}
.w-25 {
    width: 25% !important;
}
.w-50 {
    width: 50% !important;
}
.w-75 {
    width: 75% !important;
}
.w-100 {
    width: 100% !important;
}
.d-block {
    display: block !important;
}
.link {
    color: #237a57;
}
.link:hover {
    color: #a2e3c4;
}
@media (max-width: 767.98px) {
    .filling-line {
        width: 5px;
        height: 100%;
    }
}
@media (max-width: 991.98px) {
    .btn-primary-header {
        font-size: max(2vw, 12px);
        width: max(5vw, 80px);
    }
}
